* {
  text-decoration: none !important;
}

.personnages {
  width: 80%;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 30px;
}

.personnages img {
  width: 100%;
  height: 20vw;
}

.personnages button::before {
  color: black !important;
}

.personnages h1 {
  color: black;
  font-weight: 400;
  text-align: center;
}

.persoCartes {
  border-radius: 0px;
  padding: 20px;
}

.perso {
  box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.3);
}

.perso:hover {
  opacity: 0.6;
  cursor: pointer;
}

.persoImage {
  height: 18vw !important;
}

.cardTitle {
  font-size: 1.1em;
  text-align: center;
  padding: 10px;
  min-height: 6rem;
  color: black;
}

.Carousel_cardTitle__37FL7.card-title {
  margin-bottom: 0px !important;
}

.stat {
  text-align: left !important;
}

.linkStyle {
  text-decoration: none;
  color: black;
}

.cardBody {
  padding: 0px;
}

.h6 {
  color: red;
}

@media (max-width: 450px) {
  .personnages {
    width: 50%;
  }
}
